
/*REGISTRATION AND LOGIN PAGE*/



h1{
text-align: center;
}

h1 span { 
    background-color: white; 
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 10px;
}

body {
    /* background-image: url('https://media.giphy.com/media/6FjaNxfq8vHSQI0aVm/giphy.gif'); */
    background-size: 200px; /* Use the original image size */
    background-repeat: repeat; /* Repeat both horizontally and vertically */
    background-position: top left; /* Start repeating from the top left corner */
    height: 100vh; /* Ensure the body height covers the full viewport */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}



body.login-bg {
    
    background-image: url('https://media.giphy.com/media/lqxxKmzFXFDyw/giphy.gif');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    height: 100vh; 
    width: 100%; 
}


.input-field {
 display: block;   
 margin: 0 auto;   
 height: 75px;
 width: 250px;
 border-radius: 25px;
 font-size: xx-large;
 text-align: center;
}

::placeholder {
text-align: center;
font-size: xx-large;
}

.btn-register, .lnk-login{
    display: block;
    width:100%;
    margin: 0 auto;
    margin-top: -10px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
}

#image {
    display: block;   
    position: relative;
    bottom: 77px;
    right: -220px;
    width: 30px;
    height: 30px;
}

#lgimage {
    display: block;   
    position: relative;
    bottom: 77px;
    left: 835px;
    width: 30px;
    height: 30px;
}

.register { 
    width: 360px;
    height: 630px;
    background: #ffffff; 
    margin: 8% auto;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
 }


.register form{
    width: 280px;
    position: absolute;
    top: 100px;
    left: 40px;
    transition:0.5s;
}

form input{
    width: 100%;
    padding: 10px 5px;
    margin: 5px 0;
    background: transparent;
}

.btn-box{
    width: 100%;
    margin: 30px auto;
    text-align: center;
}


form button {
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
}

.music-btn{
    display: block; 
    margin: 0 auto;
    width: 310px;
    height: 35px;
    background: linear-gradient(to right,#ff105f,#ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color:#fff;
    cursor: pointer;
}

#form2{
    left: 450px;
    width: 360px;
    height: 430px;
}


#form3{
    left: 450px;
}

.step-row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position: relative;
}

.step-col{
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}

#progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to right,#ff105f,#ffad06);
}

#progress::after {
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #ffad06;
    transition: 1s;
}

#frame , #new_frame{
    display: block;   
    margin: 0 auto; 
    border-radius: 50%;
    border: none;
    outline: none;
    background-image: url('/static/profile_pics/default.svg'); 
    background-size: cover;
}


#file, #new_file{
    display: none;
}

/* DROPDOWN */

.dropdown{
    display: inline-block;
}
.dropdown button{
    background-color: hsl(0, 0%, 80%);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(252, 247, 247);
    min-width: 300px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
    text-align: center;
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: hsl(0, 0%, 70%);
}
.dropdown a:hover{
    background-color: hsl(0, 0%, 90%);
}

/* PROFILE PAGE */


#visibility {
    display: block;   
    position: relative;
    bottom: 80px;
    right: -245px;
    width: 35px;
    height: 35px;
}

.profile_container{

    text-align: center;
    font-size: larger;
    text-size-adjust: 700px;
}


#s_username{
    font-size: larger;
    
}

.btn-edit ,.btn-login{
    display: block;
    width:140px;
    margin: 0 auto;
    font-size: xx-large;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;

}

.btn-chatrooms ,.btn-logout{
    margin: 0 auto;
    font-size: xx-large;
    border-radius: 5px;
    cursor: pointer;
    color: hsl(330, 50%, 98%);
    background-color: #6d57e9;

}


.contain{
    width:100%;
    min-height: 100vh;
    padding: 10px;
}

.card{
    width: 350px;
    height: 600px;
    margin: 100px auto 0;
    perspective: 1000px;
}

.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.front {
    width:100%;
    height:100%;
    border-radius: 15px;
    position:absolute;
    background: #fff;
    text-align: center;
    backface-visibility: hidden;
}


.back{
    background: #fff;
    padding: 20px 40px;
    transform: rotateY(180deg);
    width:100%;
    height:180%;
    border-radius: 15px;
    position:absolute;
    backface-visibility: hidden;

}



.card:hover .card-inner{
    transform: rotateY(180deg);
}

.success {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #fff; /* Text color */
    font-size: 1.2em;
    background-color: hsl(194, 49%, 44%); 
}
