<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Research Web - Register</title> 
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Welcome to Research web!</h1>

<h1><span>Hover over to edit your profile info.  </span></h1>

<div class="contain">
  <div class="card">
     <div class="card-inner">
         <div class="front">
          <h1 id="profile-name"></h1>
            <h1>Username:</h1>
            <span id="profile-username"></span>

            <h1>Profile Image:</h1>

            <!-- <img src='/static/profile_pics' alt="Profile Picture"style="width: 100px; height:100px";/> -->
            
            
            <h1>Role:</h1>

              <p id="profile-role"></p>

            <h1>Bio:</h1>

            <p id="profile-bio"></p>
            <br>
          </div>
             <div class="back">
              <form id="profile_form" enctype="multipart/form-data">
                <h1>Edit Profile info</h1>
                
                <h2>Username</h2>
                 <input type="text" name="edit_username" placeholder="Enter new username" id="username-placeholder" class="input-field" required autofocus maxlength="25">
                 <br>
                <h2>Password</h2>
                 <input type="password" name="edit_password" placeholder="Edit password" id= "profile-ps" class="input-field" required autofocus maxlength="15">
                 <input type="image" src="https://www.svgrepo.com/show/453442/visibility-off.svg" onclick="see_ps();return false;" id="visibility" >
                <h2>Profile Picture</h2>
                 <input type="file" name="pfp-select"  id="new_file" onchange="preview()">
                 <!-- <img src='/static/profile_pics' id="new_frame" width="100px" height="100px" onclick="trigger_fileinput()"/> -->
              
              <h2 id="profile-role"></h2>
         
                 <h2>Bio</h2>
                 <input type="text" class="input-field" maxlength="150" name="edit_bio" id="profile_bio" placeholder="No current bio">
              <br>
                <input  type="submit"  value="Edit" class="btn-edit"/>
              
               </form>

             </div>
         
     </div>
     </div>
</div>

</body>
</html>

<script>
 
 //Password visibility
function see_ps(){
        var y=document.getElementById("visibility")
        var x= document.getElementById("profile_password");
        if (x.type=="password") {
          x.type="text"; 
          y.src="https://www.svgrepo.com/show/453440/visibility.svg"; }
          else 
          { x.type="password";
            y.src="https://www.svgrepo.com/show/453442/visibility-off.svg";}  
        } 

 function preview() {

  new_frame.src = URL.createObjectURL(event.target.files[0]);
  } 

 function trigger_fileinput(){
  document.getElementById("new_file").click();
 }

 //Fetching user info to be displayed
 fetch('http://localhost:3000/user-info', {
    method: 'POST',
    headers: {
'Content-Type': 'application/json'
},
})
.then(response => response.json())
.then(data => {
console.log('Response from server', data)
document.getElementById('profile-name').innerText = `${data.user_info.name}'s Profile Info`;
document.getElementById('profile-username').innerText = `${data.user_info.username}`;
document.getElementById('profile-role').innerText = `${data.user_info.role}`;

  
})

</script>

<!-- <script>

$('#close').click(function() {
    $('#success').removeClass('close');
});
</script> -->
 