<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research Web - Register</title> 
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Welcome to Research web!</h1>

<h1><span>Hover over to edit your profile info.  </span></h1>

<div class="contain">
  <div class="card">
     <div class="card-inner">
         <div class="front">
          <h1>{{update.username}}'s Profile info</h1>
            <h1>Username:</h1>
            <span id="s_username">{{update.username}}</span>

            <h1> Profile Image:</h1>

            <img src="{{ url_for('static', filename='profile_pics/' + update.image)  }}"   alt="Profile Picture"style="width: 100px; height:100px";/>
            
            
            <h1> Role:</h1>

              <p>{{ role }}</p>

            <h1>Bio:</h1>
            {{update.bio}}
            <br>
          </div>
             <div class="back">
              <form id="profile_form" action="{{url_for("profile")}}" method="post"  enctype="multipart/form-data">
                <h1>Edit Profile info</h1>
                
                <h2>Username</h2>
                 <input type="text" name="edit_username" placeholder="{{update.username}}" id="profile_username" class="input-field" required autofocus maxlength="25">
                 <br>
                <h2>Password</h2>
                 <input type="password" name="edit_password" placeholder="{{update.password}}" id= "profile_password" class="input-field" required autofocus maxlength="15">
                 <input type="image" src="https://www.svgrepo.com/show/453442/visibility-off.svg" onclick="see_ps();return false;" id="visibility" >
                <h2>Profile Picture</h2>
                 <input type="file" name="pfp-select"  id="new_file" onchange="preview()">
                 <img src="{{ url_for('static', filename='profile_pics/' + update.image) }}" id="new_frame" width="100px" height="100px" onclick="trigger_fileinput()"/>
              
              <h2>Role</h2>
                 <!-- <input type="hidden" name="edit_genre" id="edit_genre">
                 <div class="dropdown">
                   <button class="music-btn" onclick="return false;">Select Your Top Music Genre</button>
                   <div class="content">
                    <div>
                     <input type="radio" id="mg1"  name="music" value="Hip hop" onclick="submitGenres()" >    
                     <label for="mg1">Hip Hop</label>   
                     </div>
                     <div>
                     <input type="radio" id="mg2"  name="music" value="R&B" onclick="submitGenres()" >
                     <label for="mg2">R&B</label>
                     </div>
                     <div>
                     <input type="radio" id="mg3"  name="music" value="Rock" onclick="submitGenres()" >
                     <label for="mg3">Rock</label>
                     </div>
                     <div>
                     <input type="radio" id="mg4"  name="music" value="Electronic music" onclick="submitGenres()" >
                     <label for="mg4">Electronic music</label>
                     </div>
                     <div>
                     <input type="radio" id="mg5"  name="music" value="Pop" onclick="submitGenres()" >
                     <label for="mg5">Pop</label>
                     </div>
                     <div>
                     <input type="radio" id="mg6"  name="music" value="KPOP" onclick="submitGenres()" >
                     <label for="mg6">KPOP</label>
                     </div>
                   </div>
                 </div> -->
                 <h2>Bio</h2>
                 <input type="text" class="input-field" maxlength="150" name="edit_bio" id="profile_bio" placeholder="{{update.bio}}">
              <br>
                <input  type="submit"  value="Edit" class="btn-edit"/>
              
               </form>

             </div>
         
     </div>
     </div>
</div>

</body>
</html>

<script>
  
function see_ps(){
        var y=document.getElementById("visibility")
        var x= document.getElementById("profile_password");
        if (x.type=="password") {
          x.type="text"; 
          y.src="https://www.svgrepo.com/show/453440/visibility.svg"; }
          else 
          { x.type="password";
            y.src="https://www.svgrepo.com/show/453442/visibility-off.svg";}  
        } 

 function preview() {

  new_frame.src = URL.createObjectURL(event.target.files[0]);
  } 

 function trigger_fileinput(){
  document.getElementById("new_file").click();

 }

//  function submitGenres() {
//   var selectedGenres = [];
//   if (document.getElementById("mg1").checked) {
//       selectedGenres.push(document.getElementById("mg1").value);
//   }
//   if (document.getElementById("mg2").checked) {
//       selectedGenres.push(document.getElementById("mg2").value);
//   }
//   if (document.getElementById("mg3").checked) {
//     selectedGenres.push(document.getElementById("mg3").value);
//   }
//   if (document.getElementById("mg4").checked) {
//   selectedGenres.push(document.getElementById("mg4").value);
//   }
//   if (document.getElementById("mg5").checked) {
//   selectedGenres.push(document.getElementById("mg5").value);
//   }
//   if (document.getElementById("mg6").checked) {
//     selectedGenres.push(document.getElementById("mg6").value);
// }
  
//   // Convert array to comma-separated string
//   document.getElementById("edit_genre").value = selectedGenres.join(',');
// }
</script>
<script>

$('#close').click(function() {
    $('#success').removeClass('close');
});
</script>
 