<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Research Web - Register</title> 
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>Welcome to Research web!</h1>

<div class="register">
  <form id="register_form" >
    <h1>Register</h1>
    <input type="text" name="username_register" placeholder="username" id="username" class="input-field" required autofocus maxlength="25">
    <br>
    <input type="password" name="password_register" placeholder="password" id= "ps" class="input-field" required autofocus maxlength="15">
    <input type="image" src="https://www.svgrepo.com/show/453442/visibility-off.svg" onclick="see_ps();return false;" id="image" >

    <div class="btn-box">
      <button type="button" id="next">Next</button>
    </div>
    <a href="login" class="lnk-login">Already have an account? Login !</a>

  </form>

  <form id="form2">

 <h1 style="margin-right:80px">Role Selection</h1> 

    <div class="dropdown">
      <button class="role-btn" type="button" onclick="return false;">Select Your Role</button>
      <div class="content">
        <div>
        <input type="radio" id="role1"  name="role" value="Admin" onclick="submitRole()" >    
        <label for="role1">Admin</label>  
        </div>
        <div> 
        <input type="radio" id="role2"  name="role" value="Programme Coordinator" onclick="submitRole()" >
        <label for="role2">Programme Coordinator</label>
        </div>
        <div>
        <input type="radio" id="role3"  name="role" value="Researcher" onclick="submitRole()" >
        <label for="role3">Researcher</label>
        <input type="radio" id="role4"  name="role" value="Student" onclick="submitRole()" >
        <label for="role4">Student</label>
        </div>
       </div>
    </div>

    <div class="btn-box">
      <button type="button" id="back" style="margin-right: 30px; margin-left: -10px;">Back</button>
      <button type="button" id="next2" style="margin-right: 70px; margin-left: -20px;">Next</button>
    </div> 
    </form> 

  <form id="form3" enctype="multipart/form-data">
    <h1>Profile Setup</h1>  

    <input type="file" name="pfp-select"  id="file" onchange="preview()">
    <img  src="/static/profile_pics/default.svg" id="frame" width="100px" height="100px" onclick="trigger_fileinput()"/>
    
     <div class="btn-box">
      <button type="button" id="back2">Back</button>
    </div>
    
    <input  type="submit"  value="register" class="btn-register"/>
  </form>  

  <div class="step-row">
    <div id="progress"></div>
    <div class="step-col"><small>Step 1</small></div>
    <div class="step-col"><small>Step 2</small></div>
    <div class="step-col"><small>Step 3</small></div>
    <br>
  </div>
    
</div>

</body>
</html>

 <script>
  function see_ps(){
    var y=document.getElementById("image")
    var x= document.getElementById("ps");
    if (x.type=="password") {
      x.type="text"; 
      y.src="https://www.svgrepo.com/show/453440/visibility.svg"; }
      else 
      { x.type="password";
        y.src="https://www.svgrepo.com/show/453442/visibility-off.svg";}  
    } 

  var form1 = document.getElementById("register_form"); 
  var form2 = document.getElementById("form2");
  var form3 = document.getElementById("form3");  
  

  var next = document.getElementById("next");
  var next2 = document.getElementById("next2");
  var back = document.getElementById("back");
  var back2 = document.getElementById("back2");

  var progress = document.getElementById("progress");

  next.onclick = function(){
    form1.style.left = "-450px";
    form2.style.left = "40px";
    progress.style.width ="240px"; 
  }
  back.onclick = function(){
      form1.style.left = "40px";
      form2.style.left = "450px" ;
      progress.style.width ="120px";  
   } 
  
  next2.onclick = function(){
    form2.style.left = "-450px";
    form3.style.left = "40px";
    progress.style.width ="360px"; 
  }

  back2.onclick = function(){
    form2.style.left = "40px";
    form3.style.left = "450px" ;
    progress.style.width ="240px";  
 } 

function preview() {

  frame.src = URL.createObjectURL(event.target.files[0]);
  } 

 function trigger_fileinput(){
  document.getElementById("file").click();

 }


function submitRole() {
  if (document.getElementById("role1").checked) {
     return document.getElementById("role1").value;
  }
  if (document.getElementById("role2").checked) {
      return document.getElementById("role2").value;
  }
  if (document.getElementById("role3").checked) {
    return document.getElementById("role3").value;
  }
  if (document.getElementById("role4").checked) {
  return document.getElementById("role4").value;
  }
  
}

form3.addEventListener('submit', (e) => {
e.preventDefault()

const username = document.getElementById("username").value
const ps = document.getElementById("ps").value
const role = submitRole();
fetch('http://localhost:3000/register', {
    method: 'POST',
    headers: {
'Content-Type': 'application/json'
},
    body: JSON.stringify({ username, ps, role })
})
.then(response => response.text())
.then(data => {
console.log('Response from server', data)
  if (role == 'Admin') window.location.assign("/admin");
  else if (role == 'Student') window.location.assign("/student");
  else if (role == 'Researcher') window.location.assign("/researcher");
  else if (role == 'Programme Coordinator') window.location.assign("/prog_coord");
  
})
})
  
  </script>

